ul li {
  list-style: none;
  font-weight: 600;
  color: #2ebf5f;
}

ul li span {
  color: #2a333c;
  display: block;
  margin: 10px 0 40px 0;
  font-weight: 400;
}

.input {
  margin-bottom: 10px;
}
.form {
  margin: 14px 0 20px 40px;
}

#sidebar-h3 {
  margin-left: 40px;
}

#note-list {
  padding-right: 10px;
}
